html {
  padding-top: 0;
  padding-bottom: 0;
  margin: 0;
}
body {
  margin: 0;
  background-color: #71c9ce;
}

.displayphoto {
display: block;
border-radius: 149px 149px 149px 149px;
padding: 0;
margin-left: 40%;
height: 200px;
}

.myname {
  font-size: 50px;
  font-family: serif;
  text-align: center;
}
#mytagline {
  text-align: center;
  margin-bottom: auto;
}
.mypersonaldetails {
  background-color: #729d39;
}
.aboutme {
  background-color: #a6e3e9;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  text-align: center;
  padding-bottom: 30px;
}
.projectsdone {
  padding-top: 20px;
  margin-top: 0;
  text-align: center;
  text-decoration: underline;
  font-style: oblique;
  font-kerning: normal;
  background-color: #cbf1f5;
}
.projects-container1 {
  display: flex;
  flex-wrap: wrap;
  background-color: b1bed5;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  float: left;
  margin-left: 20px;
}
.projects-container2 {
  display: flex;
  flex-wrap: wrap;
  background-color: dfdfdf;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  float: left;
  margin-left: 20px;
}
.projects-container3 {
  display: flex;
  flex-wrap: wrap;
  background-color: blue;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  float: left;
  margin-left: 20px;
}
