html {
  padding-top: 0;
  padding-bottom: 0;
  margin: 0;
}
body {
  margin: 0;
  background-color: #71c9ce;
}

.displayphoto {
display: block;
border-radius: 149px 149px 149px 149px;
padding: 0;
margin-left: 40%;
height: 200px;
}

.myname {
  font-size: 50px;
  font-family: serif;
  text-align: center;
}
#mytagline {
  text-align: center;
  margin-bottom: auto;
}
.mypersonaldetails {
  background-color: #729d39;
}
.aboutme {
  background-color: #a6e3e9;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  text-align: center;
  padding-bottom: 30px;
}
.projectsdone {
  padding-top: 20px;
  margin-top: 0;
  text-align: center;
  text-decoration: underline;
  font-style: oblique;
  background-color: #cbf1f5;
}

.projects-container1 {
  display: inline-block;
  clear: both;
  width: 250px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 0;
  padding-bottom: 0;
}
